#project_main {

}

@mixin task_list_layer {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin: 0.2rem 0rem;
}

#package_list_panel {

    li {

    }

    .package_row {
        @include task_list_layer;
        background-color: rgb(200, 185, 231);

    }

    .activity_row {
        @include task_list_layer;
        padding-left: 2rem;
    }

    .activity_row:hover {
        cursor: pointer;
        background-color: rgb(119, 208, 211);
    }

    .activity_row .active {
        background-color: goldenrod;
    }
}

.activity_detail_view {
    display: inline-block;

    border-style: solid;
    border-width: 2px;
    border-radius: 5px;

    margin: 0.5rem 0.5rem;
}

  .activity_modal {
        height: 100%;
    
        .file {
            justify-content: center !important;
        }
        
        nav {
            text-align: right;
            position: absolute;
            bottom: 0;        
            right:0;  
            button {
                margin: 0 5px;
            }
        }
  }