.simple_info_layout {
    .asset_demo {
        padding: 1rem 0rem;
        ul {
            list-style-type: circle;
            padding : 0rem 0rem;
            li {
                padding: 0.1rem 0rem;
            }
        }

        img {
            max-width: 15rem;
        }

        .enlargeImg {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 65%;
            max-width: 100%;
            z-index: 2;
        }
    }

    .row_screenshot {
        display: inline;
        margin: 0 auto;

        img {
            padding: 0rem 1rem;
        }
    }
}