.portfolio-aboutme {
    padding: 2rem 0;
    
    .company_banner {
        .company_logo {
            img {
                display: inline;
                max-width: 2rem;
            }
            h2 {
                display: inline;
            }
        }
        
    }

}