.portfolio-aboutme {
    padding: 2em 0px;

    .company_banner {
        .company_logo {
            img {
                display: inline;
                max-width: 3rem;

            }
            h2 {
                display: inline;
                position: relative;
                bottom: 0.8rem;
                left : 0.3rem;
            }
        }
        
        .company_content {
            ul {
                list-style-type: circle;
                padding : 0.2rem 0rem;
                li {
                    padding: 0.1rem 0rem;
                }
            }
        }

        .screenshots {
            text-align: center;

            img {
                margin : 0 auto;
                max-width: 35rem;

                @media (max-width: 750px) { 
                    max-width: 90%;
                }
            }
        }
    }
}