.portfolio-aboutme {
    
    .company_banner {
        .company_logo {
            img {
                display: inline;
                max-width: 2rem;
            }
            h2 {
                display: inline;
            }
        }
        
        //         .company_content {


        //         }

        .screenshots {
            text-align: center;
            img {
                margin : 0 auto;
                max-width: 30rem;
            }
            
        }
    }
    padding: 2em 0;
}